.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;

  .left-box {
    padding: 120px 67px;
    .info-box {
      text-align: left;
      padding-left: 43px;
    }

    .logo {
      display: flex;
      align-items: center;
      margin-bottom: 43px;
      .logo-title{
        font-size: 43px;

      }
    }
  }

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 18px;
  font-weight: initial;
  letter-spacing: 0.25px;
  margin-top: 10px;
}

.items {
  margin-top: 8px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  line-height: 24px;
}

.item .name {
  margin-right: 6px;
}

.item .value {
  color: #61dafb;

  font-weight: bold;
}